
body {
    background-color: #fff;
}
/* Wrapping element */
.body-content {
    background-color: #f4cecb;
}
/*button*/
#logout{
    padding:6px 20px 6px 12px;
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.jumbotron h1 a {
    text-decoration: none;
    color: white;
}

.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0;
}

.container {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (min-width:1200px) {
    .container {
        width: 1170px;
        margin: 0 auto;
    }
}

.jumbotron {
    background-color: #94618e;
    margin-bottom: 0px;
}

.navbar-inverse {
    background-color: #49274a;
    border-radius: 0;
    border: none;
}

@media only screen and (min-width:1200px) {
    .navbar {
        width: 1170px;
        margin: 0 auto;
    }
}

/*responsive table -- adds scroll bar */
.responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: #FFF;
    color: #024457;
    border-radius: 10px;
    border: 1px solid #167F92;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.dl-horizontal {
    width: 400px;
    margin: 0 auto;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
}

.table {
    margin-top: 20px;
}
/*------- buttons----------*/
.createBtn {
    padding-right: 5%;
    float: right;
    margin-top: 7px;
}

#displayAll {
    padding-left: 10px;
}

#searchClubtxtBox {
    padding-left: 5%;
}
